*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    background: linear-gradient(165deg, #62cff4, #0e3eaf);
    width: 100%;
    min-height: 100vh;
    padding:20px 0px ;
}

.card{
    background: linear-gradient(135deg, #00feba, #5b548a);
    width: 90%;
    max-width: 480px;
    margin:40px auto 0;
    padding: 25px 30px;
    color: white;
    border-radius: 20px;
    text-align: center;
}

.searchBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.searchBox input{
    border: 0;
    outline: 0;
    flex: 1;
    background-color: rgb(209, 219, 219);
    color: black;
    width: 100%;
    padding: 10px 30px;
    border-radius: 20px;
}

.searchBox button{
    border: 0;
    outline: 0;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    margin: 10px;
    background-color: #2c67f2;
    background-image: url("media/search.png");
    background-size: cover;
    background-position: center;
}

/* .searchBox button img{
    width: 35px;
} */


.weatherBox{
    display: none;
    margin: 10px auto;
    /* padding: 30px; */
}

.weatherBox img{
    width: 170px;
}

.weatherBox h2{
    font-size: 38px;
    font-weight: 500;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    margin: 70px 0px 0px;
    justify-content: space-between;
}

.col{
    display: flex;
    text-align: left;
}

.col img{
    margin-right:10px ;
    width: 50px;
}

#wind, #humidity{
    font-size: 28px;
    margin-top: -6px;
}

.error{
    font-size: 15px;
    margin-top: 15px;
    display: none;
}

